.App {
  text-align: center;
  color: #f6dfdf;
}

.select-box {
  flex-direction: column;
  display: inline-flex;
}

label {
  display: block;
  margin: 10px;
}

.page__toggle {
  margin-top: 15px;
  border: 1px solid white;
  width: 300px;
  margin: 20px auto 20px auto;
  }
